@charset "utf-8";
 
.basyo-main{
    max-width: 80%;
    margin: 10rem auto;
    /* background-color: aqua; */
}
 
.basyo-title{
    text-align: center;
}
 
.basyo-title h2{
    font-size: 4rem;
    color: #FEC838;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
 
.basyo-img{
    margin: 0 auto;
    margin-top: 16.5rem;
    width: 85%;
    height: 75vh;
    background-image: url(../images/map-1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
 
.basyo-img2{
    margin: 0 auto;
    margin-top: 16.5rem;
    width: 85%;
    height: 75vh;
    background-image: url(../images/map-2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
 
@media screen and (max-width: 680px) {
 
  .basyo-main {
    max-width: 90%;
    margin: 5rem auto;
  }
 
  .basyo-title h2 {
    font-size: 2rem;
  }
 
  .basyo-img,
  .basyo-img2{
    width: 100%;
    height: 30vh;
    margin-top: 4rem;
  }
 
}

@media screen and (min-width:681px) and (max-width:1080px) {
  .basyo-main {
    max-width: 90%;
    margin: 7rem auto;
  }
 
  .basyo-title h2 {
    font-size: 3rem;
  }
 
  .basyo-img,
  .basyo-img2{
    /* width: 100%;
    height: 50vh; */
    margin-top: 7rem;
  }

}