@charset "utf-8";

.cos-main{
    max-width: 80%;
    margin: 10rem auto;
    /* height: 1000px; */
    /* background-color: aqua; */
}

.cos-title h2{
    color: #FEC838;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 4rem;
    /* background-color: blueviolet; */
}



.cos-link-result{
    display: block;
    width: 20%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #FEC838;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20rem;
    margin-top: 10rem;
}

.cosShousai-container{
    width: 85%;
    border: 0.2rem solid #FEC838;
    background-color: rgba(0, 5, 54, 0.7);
    margin: 0 auto;
    margin-top: 10rem;
}

h3{
    color: #FEC838;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    margin-left: 3.5rem;
}

li{
color: #EEF3FF;
margin-left: 4rem;
}

.cos-attention ul li {
    margin-top: 1rem;
    font-size: 1.3rem;
    /* list-style-type: disc; */
    list-style-position: outside
}

.cos-attention ol li{
    font-size: 1.3rem;
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 4rem;
}

.img{
    background-color: gray;
    width: 50%;
    height: 40vh;
    margin: 5rem auto;
}

.waitingRoom li {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.about-cosplay ul li{
    margin-top: 1rem;
    font-size: 1.3rem;  
}

.entry-info ul li{
    margin-top: 1rem;
    font-size: 1.3rem; 
}

.cos-link-sankasha{
    display: block;
    width: 30%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #FEC838;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20rem;
    margin-top: 10rem;
}

body {
  height: 100vh;
  margin: 0;
  background:
    url("../images/backimg.png") ,
    radial-gradient(ellipse at center,
      rgba(45, 17, 159, 1) 0%,
      rgba(13, 19, 81, 1) 100%);
 
  /* 左が画像、右がグラデーション */
  background-repeat: repeat, no-repeat;
  background-position: center top / cover, center;
  background-size: 100%, cover;
  background-attachment: scroll, fixed;
  /* color: white; */
  margin: 0;
  min-height: 100%;
}

