@charset "utf-8";

.caution-main {
    max-width: 80%;
    margin: 10rem auto;
}

/* タイトルの装飾 */
h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;
    color: #fec838;
}

h3 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem;
    color: #fec838;
}

.caution-title {
    font-size: 2rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px;
}

.event-guidelines {
    margin: 0 auto;
    border: solid 2px;
    border-color: #fec838;
    margin-bottom: -2px;
    background-color: rgba(0, 5, 54, 0.7);
}

.event-guidelines h3 {
    padding-top: 5rem;
}

.event-guidelines ul {
    width: 80%;
    margin: 5rem auto;
    padding: 2rem;
    color: #EEF3FF;
}

.event-guidelines li {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    list-style-type: disc;
    list-style-position: inside;
}

/* コスプレへのリンクの装飾 */
.cos-link {
    color: #F7D68C;
}


/* 会場利用の装飾 */

.about-venue {
    margin: 0 auto;
    border: solid 2px;
    border-color: #fec838;
    margin-bottom: -2px;
    background-color: rgba(0, 5, 54, 0.7);
}

.about-venue {
    padding-top: 5rem;
}

.about-venue ul {
    width: 80%;
    margin: 5rem auto;
    padding: 2rem;
    color: #EEF3FF;
}

.about-venue ul li {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    list-style-type: disc;
    list-style-position: inside;
}


/* 中止事項の装飾 */
.about-cancel {
    margin: 0 auto;
    border: solid 2px;
    border-color: #fec838;
    background-color: rgba(0, 5, 54, 0.7);
}

.about-cancel h3 {
    padding-top: 5rem;
}


.about-cancel ul {
    width: 80%;
    margin: 5rem auto;
    padding: 2rem;
    color: #EEF3FF;
}

.about-cancel li {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    list-style-type: disc;
    list-style-position: inside;
}