@charset "utf-8";
/* 
オレンジ　#FEC838 メインの文字
ネイビー    #000536 80% rgba(0, 5, 54, 0.8);　ランキング、競技詳細、コスプレ大会、注意事項の枠の中の色
ネイビー　#171269 出場選手カードの色
ネイビー　#0E1354 コスプレ大会参加者、結果はこちら、対戦表文字
ネイビー　#0E1452 70%  nav部分
ネイビー　#100D4A プルダウンした時？の各クラスが書いてあるところ　　
ベージュ　#F7D68C 競技一覧、競技詳細のサブタイトル部分
白　　　#EEF3FF 詳細部分の文字

  */

index-main {
  padding: 10rem 0;
}

/* top画像の装飾 */
.hero-area img {
  width: 100%;
  height: auto;
  /* object-fit: contain; */
}

/* 開催方針 */
.event-policy {
  width: 80%;
  margin: 5rem auto;
  padding-top: 10rem;
  text-align: center;
  justify-content: center;
}

.policy-text h2 {
  padding-top: 1rem;
  font-size: 3rem;
  color: #fec838;
}

.policy-text p {
  font-size: 1.5rem;
  color: #eef3ff;
}


/* レ・クリエイションについて */
.about-rec {
  width: 80%;
  margin: 5rem auto;
  padding-top: 10rem;
  text-align: center;
  justify-content: center;
}

.rec-text h2 {
  padding-top: 1rem;
  font-size: 3rem;
  color: #fec838;
}

.rec-text p {
  font-size: 1.5rem;
  color: #eef3ff;
}

/* NEW */
.news-section {
  width: 60%;
  height: auto;
  margin: 5rem auto;
  padding-top: 10rem;
  text-align: center center;
}

.news-list article {
  display: flex;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #fec838;
  padding: 1rem;
  align-items: center;
  /* justify-content: space-between; */
}

.news-list h3 {
  width: 20%;
  padding-right: 3rem;
  font-size: 2rem;
  color: #fec838;
}

.news-list p {
  font-size: 1.5rem;
  color: #eef3ff;
}

/* 動画 */
.movie-section {
  width: 80%;
  margin: 5rem auto;
  padding-top: 10rem;
  text-align: center;
  justify-content: center;
}

.movie-title {
  color: #efc383;
  padding-bottom: 3rem;
  font-size: 3rem;
  border-bottom: #efc383 solid 1px;
}

.movie-link {
  width: 100%;
  padding: 3rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: #efc383 solid 1px; 
}

.movie-link video {
  width: 80%;
  margin: 0 auto;
}


/* 当日の詳細 */

.info-section {
  width: 80%;
  height: auto;
  margin: 5rem auto;
  padding-top: 10rem;
  align-items: center;
  justify-content: space-between;
}

.cards-row {
  /* width: 80%; */
  display: flex;
  margin: 0 auto;
  /* justify-content: space-between; */
}

.event-cards {
  display: flex;
  /* place-items: center; */
  background-image: url(../images/sample.png);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: auto;  
  width: 33%;
  aspect-ratio: 1/1;
}

.cards-text {
  width: 80%;
  height: auto;
  margin: auto 3rem;
}

.event-cards h2 {
  width: 80%;
  color: #fec838;
  font-size: 1.5rem;
  border-bottom: solid 1px #fec383;
  padding-bottom: 1rem;
}

.event-cards p {
  width: 80%;
  color: #eef3ff;
  padding-top: 1.3rem;
}


/* マップ */
.access {
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 10rem 0 20rem 0;
}

.access h2 {
  color: #efc383;
  padding-bottom: 3rem;
  font-size: 3rem;
  border-bottom: #efc383 solid 1px;
}

.access-inner {
  width: 100%;
  padding: 3rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: #efc383 solid 1px;
}

.map {
  width: 60%;
}

.map-text {
  width: 30%;
  color: #eef3ff;
  margin: 5rem auto;
}

.map-text h3 {
  font-size: 2rem;
}

.map-text p {
  font-size: 1.2rem;
  padding: 1rem;
}

@media(max-width:680px) {

  .img-area-top-pc img {
    display: none;
  }

  .img-area-top-mo img {
    display: block;
  }

  .cards-row {
    flex-direction: column;
    align-items: center;
  }

  .event-cards {
    width: 80%;
    margin: 1rem auto;
  }

  .map {
    width: 80%;
    margin: 0 auto;
  }

  .map-text {
    width: 80%;
  }

  .access-inner {
    flex-direction: column;
  }

}
