@charset "utf-8";
/* 
オレンジ　#FEC838 メインの文字
ネイビー    #000536 80% rgba(0, 5, 54, 0.8);　ランキング、競技詳細、コスプレ大会、注意事項の枠の中の色
ネイビー　#171269 出場選手カードの色
ネイビー　#0E1354 コスプレ大会参加者、結果はこちら、対戦表文字
ネイビー　#0E1452 70%  nav部分
ネイビー　#100D4A プルダウンした時？の各クラスが書いてあるところ　　
ベージュ　#F7D68C 競技一覧、競技詳細のサブタイトル部分
白　　　#EEF3FF 詳細部分の文字

  */

/* top画像の装飾 */
.hero-area-pc {
  position: relative;
  height: 100vh;
  display: block;
}

.hero-pc {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.hero-logo {
  position: absolute;
  width: 10%;
  padding-top: 1rem;
  left: 50%;
  /* 画像左端を親要素の中央に配置する */
  transform: translateX(-50%);
  /* 画像自体を左に50％かけることで中央になる */
}

.hero-title {
  position: absolute;
  width: 65%;
  height: auto;
  padding-top: 1rem;
  left: 50%;
  transform: translatex(-50%);
}

.hero-place {
  position: absolute;
  width: 100%;
  height: auto;
}

.hero-date {
  position: absolute;
  width: 100%;
  height: auto;
  /* object-fit: contain; */
}

.hero-area-mo {
  display: none;
}

.index-main {
  max-width: 80%;
  padding: 10rem 0;
}



h2 {
  font-size: 4rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/* 開催方針 */
.event-policy {
  width: 80%;
  margin: 5rem auto;
  padding-top: 10rem;
  text-align: center;
  justify-content: center;
}

.policy-text h2 {
  padding-top: 1rem;
  font-size: 3rem;
  color: #fec838;
}

.policy-text p {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #eef3ff;
}


/* レ・クリエイションについて */
.about-rec {
  width: 80%;
  margin: 5rem auto;
  padding-top: 10rem;
  text-align: center;
  justify-content: center;
}

.rec-text h2 {
  padding-top: 1rem;
  font-size: 3rem;
  color: #fec838;
}

.rec-text p {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #eef3ff;
}

/* NEW */
.news-section {
  position: relative;
  width: 60%;
  height: auto;
  margin: 5rem auto;
  padding-top: 10rem;
  text-align: center center;
}

.news-list article {
  display: flex;
  border-bottom: solid 1px;
  border-color: #fec838;
  padding: 1rem;
  align-items: center;
  /* justify-content: space-between; */
}

.news-list h3 {
  width: 20%;
  padding-right: 3rem;
  font-size: 2rem;
  color: #fec838;
}

.news-list p {
  font-size: 1.5rem;
  color: #eef3ff;
}

/* 動画 */
.movie-section {
  width: 70%;
  margin: 5rem auto;
  padding-top: 10rem;
  text-align: center;
  justify-content: center;
}

.movie-title {
  color: #fec838;
  padding-bottom: 3rem;
  font-size: 3rem;
  border-bottom: #fec838 solid 1px;
}

.movie-link {
  width: 100%;
  padding: 3rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: #fec838 solid 1px;
}

.movie-link video {
  width: 94%;
  margin: 0 auto;
}


/* 当日の詳細 */

.info-section {
  width: 75%;
  height: auto;
  margin: 5rem auto;
  padding-top: 10rem;
  align-items: center;
  justify-content: space-between;
}

.cards-row {
  display: flex;
  /* width: 80%; */
  flex-wrap: wrap;
  margin: 0 auto;
  /* justify-content: space-between; */
  gap: 5%;
}

.event-cards {
  display: flex;
  /* place-items: center; */
  background-image: url(../images/syuusei.png);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 30%;
  aspect-ratio: 1/1;
}

.cards-text {
  width: 90%;
  height: auto;
  margin: auto 2rem;
}

.event-cards h2 {
  width: 80%;
  color: #fec838;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.event-cards p {
  /* width: 100%; */
  color: #eef3ff;
  border-top: solid 1px #fec838;
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

/* マップ */
.access {
  margin: auto;
  padding: 6rem 0 12rem;
  width: 60%;
}

.access h2 {
  color: #fec838;
  padding-bottom: 3rem;
  font-size: 4rem;
  border-bottom: #fec838 solid 1px;
  text-align: center;
}

.access-inner {
  /* width: 100%; */
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: #fec838 solid 1px;
  gap: 1rem;
}

.map {
  width: 60%;
  aspect-ratio: 4/3;
  /* ←これで縦：横 = 4:3に固定 */
  height: auto;
  /* 高さ指定は削除 or 自動に */
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
  object-fit: cover;
}


.map-text {
  width: 30%;
  color: #eef3ff;
  margin: 5rem auto;
  text-align: center;
}

.map-text h3 {
  font-size: 2rem;
  color: #fec838;
  margin-bottom: 1.5rem;
}

.map-text p {
  font-size: 1.2rem;
  padding: 0.8rem;
  padding-bottom: 0.3rem;
  text-align: center;
}

.map-train {
  margin-top: 1.5rem;
  text-align: center;
}

@media screen and (max-width:1208px) {
  .cards-row {
    /* flex-direction: column; */
    /* align-items: center; */
    flex-wrap: wrap;
  }

  .event-cards {
    width: 45%;
    margin: 0 auto;
  }

  .event-cards h2 {
    width: 90%;
    font-size: 1.5rem;
  }

  .event-cards p {
    font-size: 0.8rem;
  }
}



@media screen and (max-width:680px) {


  .index-main {
    max-width: 90%;
    margin: 5rem auto;
  }

  .hero-area-pc {
    display: none !important;
  }

  .hero-area-mo {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .hero-mo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }

  .hero-logo {
    width: 30vw;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-title {
    width: 85vw;
    height: auto;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-mo-date {
    position: absolute;
    width: 65vw;
    height: auto;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 10; */
  }

  .hero-place {
    width: 50vw;
    /* height: 20vh;   */
    /* height: 100vh; */
    top: 81%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* </ヒーローエリア> */

  h2 {
    font-size: 2rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  }

  /* 開催方針 */
  .event-policy {
    width: 80%;
    margin: 2rem auto;
    padding-top: 4rem;
    text-align: center;
    justify-content: center;
  }

  .policy-text h2 {
    padding-top: 1rem;
    font-size: 1.6rem;
    color: #fec838;
  }

  .policy-text p {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: #eef3ff;
  }


  /* レ・クリエイションについて */
  .about-rec {
    width: 80%;
    margin: 2rem auto;
    padding-top: 3rem;
    text-align: center;
    justify-content: center;
  }

  .rec-text h2 {
    padding-top: 1rem;
    font-size: 1.6rem;
    color: #fec838;
  }

  .rec-text p {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: #eef3ff;
  }

  /* NEW */
  .news-section {
    width: 80%;
    height: auto;
    margin: 0.5rem auto;
    padding-top: 3.5rem;
    text-align: center center;
  }

  .news-list article {
    /* display: flex; */
    border-bottom: solid 0.5px;
    border-color: #fec838;
    padding: 0.5rem;
    align-items: center;
    /* justify-content: space-between; */
  }

  .news-list h3 {
    width: 20%;
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #fec838;
  }

  .news-list p {
    font-size: 0.8rem;
    color: #eef3ff;
  }

  /* 動画 */
  .movie-section {
    width: 90%;
    aspect-ratio: 16 / 9;
    height: auto;
    object-fit: contain;
    margin-top: 1.5rem;
    padding-top: 4rem;
    text-align: center;
    justify-content: center;
  }

  .movie-title {
    color: #fec838;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    border-bottom: #fec838 solid 1px;
  }

  .movie-link {
    width: 100%;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: #fec838 solid 0.5px;
  }

  .movie-link video {
    width: 100%;
    margin: 0 auto;
  }


  /* 当日の詳細 */

  .info-section {
    width: 60%;
    height: auto;
    margin: 3rem auto;
    padding-top: 0rem;
    align-items: center;
    justify-content: space-between;
  }

  .cards-row {
    display: flex;

    /* width: 80%; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* justify-content: space-between; */
  }

  .cards-text {
    width: 90%;
    height: auto;
    margin: auto 2rem;
  }

  .event-cards h2 {
    width: 90%;
    color: #fec838;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .event-cards p {
    /* width: 100%; */
    color: #eef3ff;
    border-top: solid 0.5px #fec838;
    padding-top: 1rem;
  }

  /* カードに対しての装飾 */
  .cards-row {
    flex-direction: column;
    align-items: center;
  }

  .event-cards {
    width: 60vw;
    /* height: 40vh; */
    margin: 0;
  }

  .cards-text h2 {
    font-size: 1.5rem;
    padding-bottom: .5rem;
  }

  .event-cards p {
    font-size: 0.8rem;
    padding-top: .5rem;
    line-height: 1.6rem;

  }

  /* </カードに対しての装飾> */


  /* マップ */
  .access {
    padding: 6rem 0 12rem;
    width: 80%;
  }

  .access h2 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .access-inner {
    flex-direction: column;
    /* 縦並び */
    gap: 1rem;
    padding: 1rem 0;
  }

  .map {
    width: 100%;
    aspect-ratio: 1/ 1;
    /* ←これで縦：横 = 4:3に固定 */
    height: auto;
    /* 高さ指定は削除 or 自動に */
  }

  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
    object-fit: cover;
  }


  .map-text {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    line-height: 1.4;
    text-align: left;
  }

  .map-text h3 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }


  .map-text p {
    font-size: 0.8rem;
    padding: 0.2rem;
    line-height: 1.4;
    text-align: left;
  }

  .map-train {
    width: 0;
    height: 0;
    text-align: left;
  }


}

@media screen and (min-width:681px) and (max-width:1080px) {

  .index-main {
    max-width: 90%;
    margin: 7rem auto;
  }

  /* top画像の装飾 */
  .hero-area-pc {
    position: relative;
    height: 100vh;
    display: block;
  }

  .hero-pc {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .hero-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .hero-logo {
    position: absolute;
    width: 10%;
    padding-top: 1rem;
    left: 50%;
    /* 画像左端を親要素の中央に配置する */
    transform: translateX(-50%);
    /* 画像自体を左に50％かけることで中央になる */
  }

  .hero-title {
    position: absolute;
    width: 65%;
    height: auto;
    padding-top: 1rem;
    left: 50%;
    transform: translatex(-50%);
  }

  .hero-place {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .hero-date {
    position: absolute;
    width: 100%;
    height: auto;
    /* object-fit: contain; */
  }

  .hero-area-mo {
    display: none;
  }

  h2 {
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  }

  /* 開催方針 */
  .event-policy {
    width: 80%;
    margin: 4rem auto;
    padding-top: 4rem;
    text-align: center;
    justify-content: center;
  }

  .policy-text h2 {
    padding-top: 2rem;
    font-size: 2.5rem;
    color: #fec838;
  }

  .policy-text p {
    margin-top: 3rem;
    font-size: 1.1rem;
    color: #eef3ff;
  }


  /* レ・クリエイションについて */
  .about-rec {
    width: 80%;
    margin: 4rem auto;
    padding-top: 4rem;
    text-align: center;
    justify-content: center;
  }

  .rec-text h2 {
    padding-top: 3rem;
    font-size: 2.5rem;
    color: #fec838;
  }

  .rec-text p {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: #eef3ff;
  }

  /* NEW */
  .news-section {
    width: 70%;
    height: auto;
    margin: 0.8rem auto;
    padding-top: 6.5rem;
    text-align: center center;
  }

  .news-list article {
    /* display: flex; */
    border-bottom: solid 0.5px;
    border-color: #fec838;
    padding: 0.5rem;
    align-items: center;
    /* justify-content: space-between; */
  }

  .news-list h3 {
    width: 20%;
    padding-right: 1rem;
    font-size: 1.6rem;
    color: #fec838;
  }

  .news-list p {
    font-size: 1.1rem;
    color: #eef3ff;
  }

  /* 動画 */
  .movie-section {
    width: 80%;
    margin: 5rem auto;
    padding-top: 3rem;
  }

  .movie-title {
    color: #fec838;
    padding-bottom: 2rem;
    font-size: 3rem;
    border-bottom: #fec838 solid 1px;
  }

  .movie-link {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: #fec838 solid 1px;
  }


  /* 当日の詳細 */

  .info-section {
    margin: 3rem auto;
    padding-top: 5rem;
  }

  .event-cards h2 {
    color: #fec838;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .event-cards p {
    /* width: 100%; */
    color: #eef3ff;
    border-top: solid 0.5px #fec838;
    padding-top: 1rem;
  }

  .cards-text h2 {
    font-size: 1.5rem;
    padding-bottom: .5rem;
  }

  .event-cards p {
    font-size: 0.8rem;
    padding-top: .5rem;
    line-height: 1.6rem;

  }

  /* </カードに対しての装飾> */


  /* マップ */

  .access {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0 12rem;
  }

  .access h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  /* widthは  .access-inner　width: 94%;
    padding: 3%×２（左右）で100％
    .map 60%;  .map-text 32% .access-inner  gap: 2%;
    で.access-inner の width: 94%にそろえる*/

  .access-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    width: 94%;
    padding: 3%;
  }


  .map {
    width: 60%;
    aspect-ratio: 4 / 3;
    height: auto;
  }

  .map iframe {

    height: 100%;
    border: 0;
    margin: auto;
  }

  .map-text {
    width: 32%;
    color: #eef3ff;
    font-size: 2rem;
    margin: 0;
  }

  .map-text p {
    font-size: 1.1rem;
    padding: 0.3rem;
    line-height: 1.4;
  }

  .map-train {
    margin-top: 0.7rem;
    line-height: 1.4;
  }

  .map-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }


  .map-text p {
    font-size: 1.1rem;
    padding: 0.3rem;
    line-height: 1.4;
  }

  .map-train {
    margin-top: 0.7rem;
    line-height: 1.4;
  }


}