@charset "utf-8";

h2 {
    color: #FEC838;
}

h3 {
    color: #FEC838;
}


h4 {
    color: #EEF3FF;
}


.kamihikouki-main {
    max-width: 80%;
    margin: 10rem auto;
    /* background-color: aqua; */
}

.kamihikouki-title {
    text-align: center;
    /* background-color: blueviolet; */
}

.kamihikouki-title h2 {
    font-size: 4rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.kamihikouki-title h4 {
    font-size: 1.7rem;
    margin-top: 2rem;
}

.kamihikouki-img {
    margin: 0 auto;
    margin-top: 12rem;
    width: 85%;
    height: 75vh;
    /* background-color: cadetblue; */
    background-image: url(../images/about-kamihikouki.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.syuugou-title h3 {
    font-size: 3rem;
    text-align: center;
    margin-top: 15rem;
    color: #FEC838;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.kamihikoukibasyo-img {
    margin: 0 auto;
    margin-top: 7rem;
    width: 85%;
    height: 75vh;
    /* background-color: cadetblue; */
    background-image: url(../images/place-kamihikouki.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.kyougiShousai-title h3 {
    margin-top: 15rem;
    margin-bottom: 7rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.kyougiShousai-container {
    /*コンテナはここから*/
    width: 85%;
    padding-bottom: 10rem;
    border: 0.1rem solid #FEC838;
    background-color: rgba(0, 5, 54, 0.7);
    margin: 0 auto;
}

li {
    color: #EEF3FF;
    font-size: 1.2rem;
}

.kyougiSdhousai-cont-text {
    color: #FEC838;
    font-size: 1.2rem;
}

.kamihikouki-summary {
    margin: 5rem 7rem;
}


.kamihikouki-summary h3 {
    margin-top: 10rem;
    margin-bottom: 2.1rem;
    font-size: 2rem;
    padding: .2rem;
}

.kamihikouki-summary h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: #EEF3FF;
}

.league-title {
    margin-top: 7rem;
    width: 100%;
    height: 8.5vh;
    background:
        radial-gradient(ellipse at center,
            rgb(240, 214, 142) 0%,
            rgb(254, 208, 79) 50%,
            rgba(254, 200, 56, 1) 100%);
    box-shadow: 0 6px 0 #c69a20;
    /* 下方向に濃い影 */
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    /* ← これが必須！ */
    align-items: center;
    /* ← 縦方向センター */
    justify-content: center;
    /* ← 横方向センター */
}

.league-title:hover {
    transform: translateY(2px);
    box-shadow: 0 3px 0 #c69a20;
    filter: brightness(1.05);
    /* 5%明るく */
}

.leagueTable-link {
    margin: 0 auto;
    display: block;
    width: 30%;
    height: 100%;
    text-decoration: none;
}

.league-title h3 {
    color: #0A094C;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 900;
}

.kamihikouki-NoP {
    margin: 5rem 7rem;
}

.kamihikouki-NoP h3 {
    margin-top: 7rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.kamihikouki-NoP h4 {
    line-height: 2.2rem;
    font-weight: normal;
    font-size: 1.2rem;
    color: #EEF3FF;
}

.detaile {
    margin: 5rem 7rem;
}

.detaile h3 {
    /* margin-top: 5rem; */
    margin-bottom: 2rem;
    font-size: 2rem;
}

.detaile ul li {
    line-height: 2.2rem;
}

.gameRule {
    margin: 5rem 7rem;
}

.gameRule h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
}


/* li{
    margin-top: 1rem;
    font-size: 1.5rem;
} */

.gameRule ul li {
    line-height: 2.2rem;
}

/* .gameRule ol li {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 4rem;
}  */

.attention {
    margin: 5rem 7rem;
}

.attention h3 {
    /* margin-top: 5rem; */
    margin-bottom: 2rem;
    font-size: 2rem;
}


.attention ul {
    margin-bottom: 1rem;
}

.attention ul li {
    list-style: none;
    list-style-position: inside;
    /* margin-left: 1.5rem; */
    line-height: 2.2rem;
}

.point {
    margin: 5rem 7rem;
}

.point h3 {
    /* margin-top: 5rem; */
    margin-bottom: 2rem;
    font-size: 2rem;
}

.point h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* font-size: 1.5rem; */
    font-weight: normal;
    color: #EEF3FF;
}

.point ul li {
    list-style-position: inside;
    list-style: none;
    line-height: 2.2rem;
}

.btn-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.back-link {
    display: block;
    width: 20%;
    height: 100%;
    text-decoration: none;
}


.back-btn {
    display: flex;
    align-items: center;
    gap: .6rem;
    /* margin-top: 5rem; */
    transition: filter 0.5s ease;
}

.triangle {
    flex: 0 0 auto;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    padding: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 18px solid #FEC838;
    /* filter: drop-shadow(0 0 4px rgba(254, 200, 56, 0.8)) drop-shadow(0 0 10px rgba(254, 200, 56, 0.7)) drop-shadow(0 0 20px rgba(254, 200, 56, 0.6)); */
    transform: translateY(2px);
}

.back-btn-text {
    color: #FEC838;
    font-size: 1.5rem;
    /* text-shadow: 0 0 4px rgba(254, 200, 56, 0.8), 0 0 10px rgba(254, 200, 56, 0.7), 0 0 20px rgba(254, 200, 56, 0.6); */
    transition: filter 0.5s ease;
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* 親にfilterを集約 */
.back-btn:hover {
    filter: drop-shadow(0 0 4px rgba(254, 200, 56, 0.8)) drop-shadow(0 0 10px rgba(254, 200, 56, 0.7)) drop-shadow(0 0 20px rgba(254, 200, 56, 0.6));
}

/* 子要素にはfilterを直接指定しない */
.triangle,
.back-btn-text {
    transition: none;
    /* hover時の差をなくす */
}


@media screen and (max-width: 680px) {



    .kamihikouki-main {
        max-width: 85%;
        margin: 5rem auto;
        font-family: "fot-rodin-pron L", sans-serif;
        font-style: normal;
    }

    .kamihikouki-title h2 {
        font-size: 2rem;
    }

    .kamihikouki-title h4 {
        font-size: 0.9rem;
        margin-top: 1.3rem;
    }

    .kamihikouki-img,
    .kamihikoukibasyo-img {
        width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
        object-fit: contain;

        /* ←ここで縦横比を固定 */
        margin-top: 3.6rem;
    }

    .kamihikoukibasyo-img {
        margin-top: 2.8rem;
    }

    .kyougiShousai-title h3,
    .syuugou-title h3 {
        font-size: 1.2rem;
        margin-top: 5rem;
        margin-bottom: 2.8rem;
    }

    .kamihikouki-summary h3,
    .detaile h3,
    .gameRule h3,
    .attention h3,
    .point h3 {
        margin-top: 1.3rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1;
    }


    .kamihikouki-NoP h3 {
        margin-top: 3rem;
        margin-bottom: 0.5rem;
    }

    .kyougiShousai-container {
        width: 90%;
        padding: 0.5rem 0;
        border: 0.07rem solid #FEC838;
    }

    .kamihikouki-summary,
    .kamihikouki-NoP,
    .detaile,
    .gameRule,
    .attention,
    .point {
        margin: 2rem;
    }

    .kamihikouki-summary h4 {
        margin-top: 0;
    }

    .kamihikouki-summary h4,
    .detaile h4,
    .gameRule h4,
    .attention h4,
    .point h4,
    .kamihikouki-NoP h4 {
        margin-top: 0;
        line-height: 1rem;
        font-size: 0.8rem;
    }

    h3.kyougiSdhousai-cont-text {
        font-size: 1rem;
    }

    h4.kyougiSdhousai-cont-text,
    li {
        font-size: 0.8rem;
        line-height: 1rem;
        margin: 0;
    }

    .kamihikouki-summary ul li,
    .detaile ul li,
    .gameRule ul li,
    .attention ul li,
    .point ul li,
    .kamihikouki-NoP ul li {
        line-height: 1.4rem;
    }

    .league-title {
        height: 5vh;
        margin-top: 3rem;
    }

    .leagueTable-link {
        width: 30%;
    }

    .league-title h3 {
        font-size: 1rem;
    }

    .btn-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* 中央寄せ */
    }

    .back-btn {
        margin-top: 3rem;
        justify-content: center;
        transition: filter 0.5s ease;
    }


    .back-btn-text {
        font-size: 1.1rem;
    }

    .back-link {
        width: auto;
    }

    .triangle {
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-right: 18px solid #FEC838;
    }

    .point h4:last-of-type {
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

}

@media screen and (min-width:681px) and (max-width:1080px) {

    .kamihikouki-main {
        max-width: 90%;
        margin: 7rem auto;
        font-family: "fot-rodin-pron L", sans-serif;
        font-style: normal;
    }

    .kamihikouki-title h2 {
        font-size: 3rem;
    }

    .kamihikouki-title h4 {
        font-size: 1.3rem;
        margin-top: 2rem;
    }

    .kamihikouki-img,
    .kamihikoukibasyo-img {
        width: 90%;
        aspect-ratio: 16 / 9;
        height: auto;
        object-fit: contain;
        margin-top: 5rem;
    }

    .kamihikoukibasyo-img {
        margin-top: 4rem;
    }

    .kyougiShousai-title h3,
    .syuugou-title h3 {
        font-size: 2rem;
        margin-top: 6rem;
        margin-bottom: 4rem;
    }

    .kamihikouki-summary h3,
    .detaile h3,
    .gameRule h3,
    .attention h3,
    .point h3 {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        line-height: 1.2;
    }

    .kamihikouki-NoP h3 {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    .kyougiShousai-container {
        width: 85%;
        padding: 2rem 0;
        border: 0.1rem solid #FEC838;
    }

    .kamihikouki-summary,
    .kamihikouki-NoP,
    .detaile,
    .gameRule,
    .attention,
    .point {
        margin: 3rem;
    }

    .kamihikouki-summary h4 {
        margin-top: 0;
    }

    .kamihikouki-summary h4,
    .detaile h4,
    .gameRule h4,
    .attention h4,
    .point h4,
    .kamihikouki-NoP h4 {
        margin-top: 0;
        line-height: 1.8rem;
        font-size: 1.1rem;
    }

    h3.kyougiSdhousai-cont-text {
        font-size: 1.6rem;
    }

    h4.kyougiSdhousai-cont-text,
    li {
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin: 0;
    }

    .kamihikouki-summary ul li,
    .detaile ul li,
    .gameRule ul li,
    .attention ul li,
    .point ul li,
    .kamihikouki-NoP ul li {
        line-height: 1.8rem;
    }

    .league-title {
        height: 5vh;
        margin-top: 5rem;
    }

    .leagueTable-link {
        width: 25%;
    }

    .league-title h3 {
        font-size: 1.6rem;
    }

    .btn-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .back-btn {
        margin-top: 4rem;
        justify-content: center;
        transition: filter 0.5s ease;
    }

    .back-btn-text {
        font-size: 1.3rem;
    }

    .back-link {
        width: auto;
    }

    .triangle {
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-right: 22px solid #FEC838;
    }

    .point h4:last-of-type {
        margin-top: 0;
        margin-bottom: 3rem;
    }
}