@charset "utf-8";

.kyougi-main{
    max-width: 80%;
    margin: 10rem auto;
    /* background-color: aqua; */
}

.kyougi-title{
    text-align: center;
    font-size: 3rem;
    color: #FEC838;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    /* background-color: blueviolet; */
}

.schedule-img{
    margin: 15rem auto;
    width: 85%;
    height: 75vh;
    /* background-color: cadetblue; */
    background-image: url(../images/schedule-img.jpg);
    background-position: center;
    background-size: cover;

}

.kyougi-container1{
    width: 90%;
    margin: 0 auto;
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
}

.kyougi-container2{
    width: 90%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
}

.kyougi-box{
    background-image: url(../images/syuusei.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 35vh;
    /* background-color: #8b8b8b */
}


.kyougi-box6{
    width: 30%;
    height: 35vh;
}

.link{
  display: block;
  width: 30%;
  /* min-width: 370px; */
  height: 100%;
  color: #EEF3FF;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.kyougi-box{
    position: relative;
}

.kyougi-box-title{
    /* position: absolute;
    top: 17%;
    left: 27%; */
    /* min-width: 50%; */
    font-size: 90%;
    /* background-color: rgb(66, 66, 65); */
    color: #FEC838;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    padding-top: 17%;
    text-align: center;
}


.startTime{
    position: absolute;
    top: 35%;
    left: 20%;
    /* background-color: aqua; */
    padding-top: 1rem;
    /* text-align: left; */
    /* padding-left: 7rem; */
    /* text-align: center; */
}

.kyougi-place{
    /* position: absolute;
    top: 47%;
    left: 37%; */
    /* background-color: rgb(66, 66, 65); */
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 15%;
}



body {
  height: 100vh;
  margin: 0;
  background:
    url("../images/backimg.png") ,
    radial-gradient(ellipse at center,
      rgba(45, 17, 159, 1) 0%,
      rgba(13, 19, 81, 1) 100%);
 
  /* 左が画像、右がグラデーション */
  background-repeat: repeat, no-repeat;
  background-position: center top / cover, center;
  background-size: 100%, cover;
  background-attachment: scroll, fixed;
  /* color: white; */
  margin: 0;
  min-height: 100%;
}