@charset "utf-8";

.kyougi-main {
    max-width: 80%;
    margin: 10rem auto;
    /* background-color: aqua; */
}

.kyougi-title {
    text-align: center;
    font-size: 3rem;
    color: #FEC838;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    /* background-color: blueviolet; */
}

.schedule-img {
    margin: 15rem auto;
    width: 85%;
    height: 75vh;
    /* background-color: cadetblue; */
    background-image: url(../images/schedule-img.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}



.cards-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 1行目は3列 */
  grid-auto-rows: auto;
  gap: 20px;
  margin: 0 auto;
}

/* 4枚目と5枚目を2列目に並べる */
.cards-row a:nth-child(4),
.cards-row a:nth-child(5) {
  grid-column: span 1;
}
.event-cards {
  position: relative;
  aspect-ratio: 1 / 1.15; /* 六角形の縦横比に合わせる */
  background-image: url(../images/syuusei.png);
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cards-content {
  position: relative;
  width: 90%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* 上半分に配置 */
.text-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* 下端に揃える */
  align-items: center;
  color: #FEC838;
  padding-bottom: 10px;
}

/* 下半分に配置 */
.schedule-place {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 上端に揃える */
  align-items: center;
  color: #EEF3FF;
  padding-top: 10px;
}

.sub-title {
  font-size: 1rem;
  margin-bottom: 0.3em;
}

.title {
  font-size: 1.6rem;
}

.schedule{
  font-size: 0.95rem;
  margin: 0.2em 0;
}

.place {
  font-size: 1.2rem;
  margin: 0.2em 0;
}

body {
    height: 100vh;
    margin: 0;
    background:
        url("../images/backimg.png"),
        radial-gradient(ellipse at center,
            rgba(45, 17, 159, 1) 0%,
            rgba(13, 19, 81, 1) 100%);

    /* 左が画像、右がグラデーション */
    background-repeat: repeat, no-repeat;
    background-position: center top / cover, center;
    background-size: 100%, cover;
    background-attachment: scroll, fixed;
    /* color: white; */
    margin: 0;
    min-height: 100%;
}