@charset "utf-8";

h2{
    color: #FEC838;
}

h3{
    color: #EEF3FF;
}

.ninnkyaku-main{
    max-width: 80%;
    margin: 10rem auto;
    /* background-color: aqua; */
}

.ninnkyaku-title{
    text-align: center;
    /* background-color: blueviolet; */
}

.ninnkyaku-title h2{
    font-size: 3rem;
}

.ninnkyaku-title h3{
    font-size: 1.5rem;
    margin-top: 3rem;
}

.ninnkyaku-img{
    margin: 0 auto;
    margin-top: 15rem;
    width: 85%;
    height: 80vh;
    background-color: cadetblue;
}

.syuugou-title h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 15rem;
}

.kyougiShousai-title{
    margin-top: 15rem;
    margin-bottom: 10rem;
    text-align: center;
    font-size: 2rem;
}

.kyougiShousai-container{                                                              /*コンテナはここから*/
    width: 85%;
    padding-bottom: 10rem;
    border: 0.2rem solid #FEC838;
    background-color: rgba(0, 5, 54, 0.8);
    margin: 0 auto;
}

li{
    color: #EEF3FF;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.kyougiSdhousai-cont-text {
    color: #FEC838;
}

.ninnkyaku-summary{
    margin-left: 5rem;
}

.ninnkyaku-summary h3{
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.ninnkyaku-summary h4{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 3rem;
    color: #EEF3FF;
}


.league-title{
    /* margin: 0 auto; */
    margin-top: 10rem;
    padding-top: 2rem;
    width: 100%;
    height: 8vh;
    background-color: #FEC838;
}


.leagueTable-link{
  margin: 0 auto;
  display: block;
  width: 27%;
  height: 100%;
  text-decoration: none;
}

.league-title h3{
    color: #000536;
    /* margin-top: 10rem; */
    font-size: 2rem;
    text-align: center;
}



.ninnkyou-NoP{
    margin-left: 5rem;
}

.ninnkyou-NoP h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.ninnkyou-NoP h4{
    line-height: 3rem;
    margin-top: 1rem;
    font-weight: normal;
    font-size: 1.5rem;
    color: #EEF3FF;
}


.detaile{
    margin-left: 5rem;
}

.detaile h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}


.detaile ul li {
    line-height: 3rem;
}

.under-text{
    margin-left: 4rem;
}

.gameRule{
    margin-left: 5rem;
}

.gameRule h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}


.gameRule ol li{
    list-style-type: decimal;
    list-style-position: inside;
}

.gameRule ul li{
    list-style: none;
    margin-left: 4rem;
}

.gameRule ul li p{
    line-height: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.attention {
    margin-left: 5rem;
}

.attention h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.attention ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

.attention ul li {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 4rem;
}


.point {
    margin-left: 5rem;
}

.point h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem; 
}

.point h4{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #EEF3FF;
}

.point ul li {
    list-style-type: disc;
    list-style-position: inside
}

.btn-container{
    width: 85%;
    margin: 0 auto;
}

.back-link{
    display: block;
    width: 20%;
    height: 100%;
    text-decoration: none;
}

.back-btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10rem;
    /* background-color: aqua; */
}

.triangle{
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid #FEC838;
  border-bottom: 30px solid transparent;
}

.back-btn-text{
    color: #FEC838;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    text-shadow: 0 0 4px rgba(254, 200, 56, 0.8),0 0 10px rgba(254, 200,56 , 0.7), 0 0 20px rgba(254, 200, 56, 0.6);
}