@charset "utf-8";
 
.ranking-main {
    max-width: 80%;
    margin: 10rem auto;
    /* height: 1000px; */
    /* background-color: aqua; */
}
 
.ranking-title h2 {
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    font-size: 4rem;
    color: #FEC838;
    /* background-color: blueviolet; */
}
 
.ranking-container {
    width: 85%;
    /* background-color: blanchedalmond; */
    margin: 0 auto;
}
 
/* .ranking-link{
    display: block;
    width: 20%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: rgb(90, 90, 90);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20rem;
    margin-top: 10rem;
} */
 
.ranking-kousin h4 {
    margin-top: 5rem;
    font-size: 1.2rem;
    text-align: center;
    color: #EEF3FF;
}
 
.ranking-table {
    border: 0.07rem solid #FEC838;
    box-shadow: 0 0 40px rgba(254, 200, 56, 0.8), 0 0 30px rgba(254, 200, 56, 0.7), 0 0 50px rgba(254, 200, 56, 0.6);
    padding: 6rem 7rem 10rem 7rem;
    background-color: rgba(0, 5, 54, 0.7);
    width: 45%;
    margin: 0 auto;
    margin-top: 10rem;
    font-size: 1.7rem;
    color: #EEF3FF;
    margin-bottom: 20rem;
}
 
.tableR {
    text-align: center;
    margin: 0 auto;
}
 
.tableR td {
    width: 15rem;
    height: 7rem;
    padding: 2rem 0 0 0;
    border-bottom: 0.1rem solid #FEC838;
    /*セルとセルの間を消したい*/
}
 
 
.under-third {
    color: #FEC838;
}
 
@media screen and (max-width: 680px) {
 
  .ranking-main {
    max-width: 85%;
    margin: 5rem auto;
  }
 
  .ranking-title h2 {
    font-size: 2.5rem;
    margin-bottom: 8rem;
  }
 
  .ranking-kousin h4{
    margin-bottom: 14rem;
  }
 
}
 