@charset "utf-8";
 
.program-main {
  width: 80%;
  margin: 10rem auto;
}
 
.program-title {
  text-align: center;
}
 
.program-title h2{
  font-size: 3rem;
  padding-bottom: 3rem;
}
 
.program-title h3 {
  font-size: 2rem;
  padding-bottom: 3rem;
}
 
.expimg {
  width: 90%;
  height: 80vh;
  background-color: #020f95;
  margin: 0 auto;
}

.program-main {
  width: 80%;
  margin: 10rem auto;
}

.program-title {
  text-align: center;
}

.program-title h2{
  font-size: 3rem;
  padding-bottom: 3rem;
}

.program-title h3 {
  font-size: 2rem;
  padding-bottom: 3rem;
}

.expimg {
  width: 90%;
  height: 80vh;
  background-color: #020f95;
  margin: 0 auto;
}
 
.program-section h3 {
  font-size: 2rem;
}
.program-section h3 {
  font-size: 2rem;
  text-align: center;
  padding-top: 15rem;
}
 
.program-section h4{
  font-size: 1.5rem;
  padding-top: 3rem;
}
 
.matchlist {
  text-align: center;
}

.program-section h4{
  font-size: 1.5rem;
  padding-top: 3rem;
}

.matchlist {
  text-align: center;
}
 
.matchlist-img {
  width: 90%;
  height: 80vh;
  background-color: #020f95;
  margin: 0 auto;
}
 
.details-text {
  width: 80%;
  margin: 0 auto;
}
 
.details-text h4 {
  padding-top: 5rem;
}
 
.details-text ul,p{
  font-size: 1.5rem;
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
}
.matchlist-img {
  width: 90%;
  height: 80vh;
  background-color: #020f95;
  margin: 0 auto;
}

.details-text {
  width: 80%;
  margin: 0 auto;
}

.details-text h4 {
  padding-top: 5rem;
}

.details-text ul,p {
  font-size: 1.5rem;
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
}