@charset "utf-8";
 
.sennsyu-main {
  max-width: 80%;
  margin: 10rem auto;
  /* background-color: aqua; */
}
 
.sennsyu-title h2{
    color: #FEC838;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 4rem;
    /* background-color: blueviolet; */
}
 
.sennsyu-text-box h4{
    margin-top: 6rem;
    font-size: 1.2rem;
    text-align: center;
    color: #EEF3FF;
}
 
:root {
  --bg-header: #171269;
  /* 見出し背景色 */
  --bg-panel: #f5f6fc;
  --text-main: #333;
  --text-sub: #f5f6fc;
  --radius: 12px;
}
 
.accordion {
  /* width: min(600px, 95%); */
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  padding-top: 6rem;
}
 
.item {
  border-radius: 9px;
  overflow: hidden;
  border-top: 1.5px solid #FEC838;
  border-right: 1.5px solid #FEC838;
  border-left: 1.5px solid #FEC838;
  border-bottom: 1.5px solid #FEC838;
  background: #171269;
  box-shadow:
    0 0 4px rgba(254, 200, 56, 0.8),
    0 0 10px rgba(254, 200, 56, 0.6),
    0 0 20px rgba(254, 200, 56, 0.4);
}
 
/* 見出し部分 */
.trigger {
  display: flex;
  flex-direction: column;
  background: var(--bg-header);
  padding: 16px 20px;
  color: var(--text-sub);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  width: 85%;
  margin: 0 auto;
}
 
.trigger .title {
  font-size: 20px;
  border-bottom: 2px solid #FEC838;
  padding: .3rem;
  color: #FEC838;
}
 
.trigger .subtitle {
  font-size: 14px;
  font-weight: normal;
  margin-top: 8px;
  color: #EEF3FF;
}
 
/* 矢印アイコン */
.trigger::after {
  content: "";
  border-bottom: solid 2px #FEC838;
  border-right: solid 2px #FEC838;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
  position: absolute;
  right: 30px;
  top: 65%;
  transition: transform 0.5s;
  font-size: 18px;
}
 
/* 展開部分 */
.panel {
  max-height: 0;
  overflow: hidden;
  /* background: var(--bg-panel); */
  background: #100D4A;
  color: var(--text-main);
  transition: max-height 0.5s ease;
  border-top: 1.5px solid #FEC838;
  border-radius: 9px;
}
 
.panel ul {
  width: 85%;
  list-style: none;
  margin: 0;
  padding: 16px 20px;
  margin: 0 auto;
}
 
.panel li {
  padding: 6px 0;
  border-bottom: 1px solid #ffb400;
  color: #EEF3FF;
}
 
.panel li:last-child {
  border-bottom: none;
}
 
/* 開いたとき */
input:checked+.trigger::after {
  transform: translateY(50%) rotate(-135deg);
}
 
input:checked+.trigger+.panel {
  max-height: 900px;
}
 
@media screen and (max-width: 680px) {
 
  .sennsyu-main {
    max-width: 85%;
    margin: 5rem auto;
  }
 
  .sennsyu-title h2 {
    font-size: 2.5rem;
    margin-bottom: 8rem;
  }
 
  .sennsyu-text-box h4{
    margin-bottom: 14rem;
  }
 
}
 