@charset "utf-8";

h2 {
    color: #FEC838;
}

h3 {
    color: #FEC838;
}


h4 {
    color: #EEF3FF;
}


.tunahiki-main{
    max-width: 80%;
    margin: 10rem auto;
    /* background-color: aqua; */
}

.tunahiki-title{
    text-align: center;
    /* background-color: blueviolet; */
}

.tunahiki-title h2{
    font-size: 4rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.tunahiki-title h4{
    font-size: 1.7rem;
    margin-top: 2rem;
}

.tunahiki-img{
    margin: 0 auto;
    margin-top: 12rem;
    width: 85%;
    height: 80vh;
    background-color: cadetblue;
}

.syuugou-title h3 {
    font-size: 3rem;
    text-align: center;
    margin-top: 15rem;
    color: #FEC838;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.ninnkyakubasyo-img {
    margin: 0 auto;
    margin-top: 7rem;
    width: 85%;
    height: 80vh;
    background-color: cadetblue;
}


.kyougiShousai-title h3{
    margin-top: 15rem;
    margin-bottom: 7rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.kyougiShousai-container{
    /*コンテナはここから*/
    width: 85%;
    padding-bottom: 9rem;
    border: 0.2rem solid #FEC838;
    background-color: rgba(0, 5, 54, 0.7);
    margin: 0 auto;
}

li {
    color: #EEF3FF;
    font-size: 1.2rem;
}

.kyougiSdhousai-cont-text {
    color: #FEC838;
    font-size: 1.2rem;
}

.tunahiki-summary {
    margin: 0 7rem;
}


.tunahiki-summary h3{
    margin-top: 9rem;
    margin-bottom: 2.1rem;
    font-size: 2rem;
    padding: .2rem;
}

.tunahiki-summary h4{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: #EEF3FF;
}

.league-title {
    margin-top: 7rem;
    width: 100%;
    height: 8.5vh;
    background:
        radial-gradient(ellipse at center,
            rgb(240, 214, 142) 0%,
            rgb(254, 208, 79) 50%,
            rgba(254, 200, 56, 1) 100%);
    box-shadow: 0 6px 0 #c69a20;
    /* 下方向に濃い影 */
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    /* ← これが必須！ */
    align-items: center;
    /* ← 縦方向センター */
    justify-content: center;
    /* ← 横方向センター */
}

.league-title:hover {
    transform: translateY(2px);
    box-shadow: 0 3px 0 #c69a20;
    filter: brightness(1.05);
    /* 5%明るく */
}

.leagueTable-link {
    margin: 0 auto;
    display: block;
    width: 15%;
    height: 100%;
    text-decoration: none;
}

.league-title h3 {
    color: #0A094C;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 900;
}

.tunahiki-NoP {
    margin: 0 7rem;
}

.tunahiki-NoP h3{
    margin-top: 7rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.tunahiki-NoP h4{
    line-height: 2.2rem;
    font-weight: normal;
    font-size: 1.2rem;
    color: #EEF3FF;
}

.detaile {
    margin: 0 7rem;
}

.detaile h3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.detaile ul li {
    line-height: 2.2rem;
}

.gameRule {
    margin: 0 7rem;
    line-height: 2.2rem;
}

 .gameRule h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}
/*
li{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.gameRule ul li {
    list-style-type: disc;
    list-style-position: inside
}

.gameRule ol li {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 4rem;
} */

.attention {
    margin: 0 7rem;
}

.attention h3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}


.attention ul {
    margin-bottom: 1rem;
}

.attention ul li {
    list-style: none;
}

.point {
    margin: 0 7rem;
    line-height: 2.2rem;
}

.point h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem; 
}

.point h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* font-size: 1.5rem; */
    font-weight: normal;
    color: #EEF3FF;
}

.point ul li {
     list-style-position: inside;
    list-style: none;
}

.btn-container{
    width: 85%;
    margin: 0 auto;
}

.back-link{
    display: block;
    width: 20%;
    height: 100%;
    text-decoration: none;
}

.back-btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10rem;
    gap: 10px;
    /* background-color: aqua; */
}

.triangle{
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 30px solid #FEC838;
  border-bottom: 20px solid transparent;
}

.back-btn-text{
    color: #FEC838;
    font-size: 1.5rem;
    /* padding-top: 0.5rem; */
    text-shadow: 0 0 4px rgba(254, 200, 56, 0.8),0 0 10px rgba(254, 200,56 , 0.7), 0 0 20px rgba(254, 200, 56, 0.6);
}

body {
  height: 100vh;
  margin: 0;
  background:
    url("../images/backimg.png") ,
    radial-gradient(ellipse at center,
      rgba(45, 17, 159, 1) 0%,
      rgba(13, 19, 81, 1) 100%);
 
  /* 左が画像、右がグラデーション */
  background-repeat: repeat, no-repeat;
  background-position: center top / cover, center;
  background-size: 100%, cover;
  background-attachment: scroll, fixed;
  /* color: white; */
  margin: 0;
  min-height: 100%;
}